extends layout

block content
    h1= title
    - let items = results
    div(class="container-fluid")
        div(class="row")
            - for(let i=0;i<items.length;i++){
                div(class="col-sm-2", onClick=`buy(${i})`)
                    p Vehicle Type: #{items[i].vehicle_type}
                    p Color: #{items[i].color}
                    p Price: $#{items[i].price}
            - }
    script.
        function buy(i){
            alert(`You purchased item ${i+1}`)
        }