extends layout
block content
    h1= title
    if (toShow == null)
        h2 No instance to show with the query id 
    else 
        - let vehicle_id = toShow._id
        - let vehicle_type = toShow.vehicle_type
        - let vehicle_color = toShow.color
        - let vehicle_price = toShow.price
        div.container
            div.row
                div.col-md-6.mb-3
                    .card.bg-info.text-white
                        .card-body
                            h5.card-title Vehicle ID
                            p.card-text #{vehicle_id}
                div.col-md-6.mb-3
                    .card.bg-success.text-white
                        .card-body
                            h5.card-title Vehicle Type
                            p.card-text #{vehicle_type}
                div.col-md-6.mb-3
                    .card.bg-warning.text-white
                        .card-body
                            h5.card-title Vehicle Color
                            p.card-text #{vehicle_color}
                div.col-md-6.mb-3
                    .card.bg-danger.text-white
                        .card-body
                            h5.card-title Vehicle Price
                            p.card-text #{vehicle_price}