extends layout

block content
    h1= title
    - class Vehicle {
    -   constructor(vehicleType, color, price) {
    -     this.vehicleType = vehicleType;
    -     this.color = color;
    -     this.price = price;
    -   }
    - }
    - const car = new Vehicle("Car", "Red", 25000);
    - const motorcycle = new Vehicle("Motorcycle", "Black", 8000);
    - const truck = new Vehicle("Truck", "Blue", 35000);
    - let results = [car,motorcycle,truck];
    div(class="container-fluid")
        div(class="row")
            - for(let i=0;i<results.length;i++){
                div(class="col-sm-2", onClick=`buy(${i})`)
                    p Vehicle Type: #{results[i].vehicleType}
                    p Color: #{results[i].color}
                    p Price: $#{results[i].price}
            - }
    script.
        function buy(i){
            alert(`You purchased item ${i+1}`)
        }