extends layout

block content
    h1= title
    - let items = results
    div(class="container-fluid")
        div(class="row")
            - for(let i=0;i<items.length;i++){
                - let destination = `dispatch(\"/vehicles/update?id=${items[0]._id}\")`
                div(class="col-sm-2", onClick=`buy(${i})`)
                    p Vehicle Type: #{items[i].vehicle_type}
                    p Color: #{items[i].color}
                    p Price: $#{items[i].price}
                    button.btn( class="btn-primary ml-1", onclick= destination) Update
            - }
    script.
        function dispatch(path){
            window.location.href=path
        }
