extends layout
block content
    h1= title
    if (toShow == null)
        h2 No instance to show with the query id 
    else 
        - let vehicle_id = toShow._id
        - let vehicle_type = toShow.vehicle_type
        - let vehicle_color = toShow.color
        - let vehicle_price = toShow.price
        div
            div.row
                div(class='vehicleAttr mr-3') Vehicle ID is:
                div #{vehicle_id}
            div.row
                div(class='vehicleAttr mr-3') Vehicle Type is:
                div #{vehicle_type}
            div.row
                div(class='vehicleAttr mr-3') Vehicle Color is:
                div #{vehicle_color}
            div.row
                div(class='vehicleAttr mr-3') Vehicle Price is:
                div #{vehicle_price}